.login {
  height: 100%;
  display: flex;
  width: 100%;
  padding: 164px 650px 164px 649px;
  justify-content: center;
  align-items: center;
}
.container {
  height: 100%;
  display: flex;
  padding: 100px 120px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border-radius: 40px;
  background-color: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(111, 121, 121, 0.25), 0px -1px 1px 1px rgba(111, 121, 121, 0.10);
}
.login-img{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-img img {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
}
.login-img h2 {
  color: var(--his-sys-light-primary, #006C4F);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.login-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.login-inform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.login-inform label {
  color: var(--his-sys-light-on-surface, #191C1A);
  font-family: Noto Sans TC;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
button {
  display: flex;
  height: 40px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 20px;
  background: var(--his-sys-light-primary, #006C4F);
  color: var(--his-sys-light-on-primary, #FFF);
  text-align: center;
  font-family: Noto Sans TC;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
