.home {
  height: 100%;
  width: 100%;
  display: flex;
}

.container {
  /* width: 100%; */
  /* height: 100vh; */
  display: flex;
  background-color: #efefef;
  gap: 40px;
  /* background-color: blueviolet; */
}

.aside {
  height: 100%;
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: hsla(114, 6%, 68%, 0.812);
  padding: 10px;
  align-items: center;
  gap: 20px;
}

::ng-deep .menu-button {
  background-color: hsla(114, 6%, 68%, 0.812);
  border-color: hsla(114, 6%, 68%, 0.812);
  width: 60px;
}

.article {
  width: 100%;
  background-color: #efefef;
  padding: 24px;
}
